.news {
    background: #fff;
  position: relative;
  overflow: hidden;
  z-index:1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;  
  margin-bottom: 30px;
  border: 1px solid #eaeaea;
}

.news .img-figure {
  position: relative;
}

.news .img-figure img {
  position: relative; 
  overflow: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  min-width: 100%;
  height: 200px;
}

.news:hover .img-figure img {
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -ms-transform: scale(1.10);
  -o-transform: scale(1.10);
  transform: scale(1.10);
}

.news .title {
  padding: 25px 30px;
  position: absolute;
  left: 0;
  background: $white;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;  
}

.news .title h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  color: $blue;
  text-align: center;
}

.news:hover .title  {
  margin-top: -70px;
  background: $white;
  font-size: 16px;
}

.news  p.description {
  position: relative;
  font-weight: normal;
  line-height: 15px;
  opacity: 0;
  font-size: 11px;
  text-align: center;
  font-weight: lighter;
  padding: 0px 20px 0px 20px;
  height:70px;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;  
}

.news:hover p.description  {
  opacity: 1;
}

p.more {
  text-align: center;
}

.more a {
    position: relative;
    font-size: 13px;
    margin-top: 10px;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: inline-block;
    color: $yellow;
}

.more a:hover{
  text-decoration: none;
}



.cat {
  background: $yellow;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 1;
  padding: 3px 15px;
}
