---
title: Flock You - Vêtements personnalisés
---
<div class="banner" style="background-image: linear-gradient(-225deg, rgb(47, 48, 57) 0%, rgba(47, 48, 57, 0) 50%), url(https://images.unsplash.com/photo-1488639110099-3862e274861f?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);">
  <div class="banner-content">
    <h1>PERSONNALISATION DE QUALITÉ 100% MADE IN FRANCE</h1>
    <div class='btn btn-primary btn-flat'>Découvrez nos produits</div>
  </div>
</div>

<br>
<div class="container" id="produits">
  <h2 class="text-center">Nos Produits À Personnaliser</h2><br>
  <div class="row">
    <% data.categories.each do |_name, categories| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="news">
        <div class="img-figure">
          <div class="cat">CATEGORY</div>
          <%= image_tag categories.picture, class:"img-responsive" %>
        </div>  

        <div class="title">
          <h2><%= categories.name %></h2>
        </div>
        <p class="description">
          <%= categories.description %>
        </p>

        <p class="more">
          <a href="#"><i class="fa fa-search" aria-hidden="true"></i> Voir Plus</a>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="banner" style="height: 40vh; background-image: linear-gradient(-225deg, rgb(47, 48, 57) 0%, rgba(47, 48, 57, 0.57) 50%), url(<%= image_path 'banner.jpg'%>);">
  <div class="banner-content">
    <h1>Nouveau showroom</h1>
    <p>UN SHOWROOM À LILLE POUR VOIR ET ESSAYER NOS PRODUITS</p>
  </div>
</div>

<div class="container" id="perso">
  <h2 class="text-center">Nos Produits À Personnaliser</h2><br>
  <div class="row">
    <div class='col-xs-12 col-md-6'>

      <div class="blog-card">
        <div class="photo photo1"></div>
        <div class="description">
          <h2>Broderie</h2>
          <h3>Opening a door to the future</h3>
          <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
          <a href="#">Read More</a>
        </div>
      </div>

      <div class="blog-card alt">
        <div class="photo photo2"></div>

        <div class="description">
          <h2>Flocage</h2>
          <h3>Java is not the same as JavaScript</h3>
          <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
          <a href="#">Read More</a>
        </div>
      </div>
      
      <div class="blog-card">
        <div class="photo photo1"></div>
        <div class="description">
          <h2>Sériegraphie</h2>
          <h3>Opening a door to the future</h3>
          <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
          <a href="#">Read More</a>
        </div>
      </div>

      <!--END PEN CODE-->
    </div>
    <div class='col-md-6'> SOCIAL BLOC
    </div>
  </div>
</div>